In [1]:
#2 # 2 in spark
# Create a new Spark notebook called labd.ipynb. Write (or copy and edit) Spark code to 
# set up the Spark session. Make sure your Spark session supports Minio access and 
# include the hadoop-aws Spark Jar package. Provide a screenshot of your code and the output.

import pyspark
from pyspark.sql import SparkSession
print("hello")

hello

In [2]:
# MINIO CONFIGURATION
s3_host = "minio"
s3_url = f"http://{s3_host}:9000"
s3_key = "minio"
s3_secret = "SU2orange!"
s3_bucket = "labe"
print(s3_url)

http://minio:9000

In [3]:
# Spark init
spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
    .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:3.1.2")\
    .config("spark.hadoop.fs.s3a.endpoint", s3_url) \
    .config("spark.hadoop.fs.s3a.access.key", s3_key) \
    .config("spark.hadoop.fs.s3a.secret.key", s3_secret) \
    .config("spark.hadoop.fs.s3a.fast.upload", True) \
    .config("spark.hadoop.fs.s3a.path.style.access", True) \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .getOrCreate()
sc = spark.sparkContext
print(s3_bucket)
#sc.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-2d5be1d0-082c-4843-8950-a53b66224ea6;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.1.2 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.271 in central
downloading https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-aws/3.1.2/hadoop-aws-3.1.2.jar ...
	[SUCCESSFUL ] org.apache.hadoop#hadoop-aws;3.1.2!hadoop-aws.jar (99ms)
downloading https://repo1.maven.org/maven2/com/amazonaws/aws-java-sdk-bundle/1.11.271/aws-java-sdk-bundle-1.11.271.jar ...
	[SUCCESSFUL ] com.amazonaws#aws-java-sdk-bundle;1.11.271!aws-java-sdk-bundle.jar (12395ms)
:: resolution report :: resolve 3227ms :: artifacts dl 12501ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.271 from central in [default]
	org.apache.hadoop#hadoop-aws;3.1.2 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   2   |   2   |   2   |   0   ||   2   |   2   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-2d5be1d0-082c-4843-8950-a53b66224ea6
	confs: [default]
	2 artifacts copied, 0 already retrieved (84646kB/101ms)
23/02/03 14:36:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

labe

In [5]:
# 5
#Configure Spark to read from Minio labe bucket, then load 
#syracuse-ny.csv into a DataFrame and register  it as the table weather. 
s3_bucket ="labe"
file_name = "syracuse-ny.csv"
print("hello")
source = f"s3a://{s3_bucket}/{file_name}"
weather = spark.read.option("header", True).option("inferSchema", True)\
    .csv(source)
weather.show()

hello
+---------+----------------+-----------------+----------------+--------------+--------------+-------------+------------+-------------+------------+------------------------+-------------------------+------------------------+-------------------+--------------------+-------------------+-----------------+------------------+-----------------+---------------+----------+-------------+--------------+
|      EST|Max TemperatureF|Mean TemperatureF|Min TemperatureF|Max Dew PointF|MeanDew PointF|Min DewpointF|Max Humidity|Mean Humidity|Min Humidity|Max Sea Level PressureIn|Mean Sea Level PressureIn|Min Sea Level PressureIn|Max VisibilityMiles|Mean VisibilityMiles|Min VisibilityMiles|Max Wind SpeedMPH|Mean Wind SpeedMPH|Max Gust SpeedMPH|PrecipitationIn|CloudCover|       Events|WindDirDegrees|
+---------+----------------+-----------------+----------------+--------------+--------------+-------------+------------+-------------+------------+------------------------+-------------------------+------------------------+-------------------+--------------------+-------------------+-----------------+------------------+-----------------+---------------+----------+-------------+--------------+
| 1997-1-1|              27|               12|              -2|            22|             4|           -8|          92|           74|          59|                   30.52|                    30.22|                   29.86|                 10|                   9|                  1|               14|                 5|             null|           0.05|         6|         Snow|            89|
| 1997-1-2|              34|               28|              23|            33|            29|           21|         100|           96|          88|                   29.84|                    29.74|                   29.53|                  9|                   2|                  0|                8|                 4|             null|           0.08|         8|Fog-Rain-Snow|            82|
| 1997-1-3|              44|               40|              36|            44|            38|           34|         100|           96|          89|                    29.9|                    29.68|                    29.5|                 10|                   4|                  0|               15|                 6|             null|           0.09|         8|     Fog-Rain|           273|
| 1997-1-4|              48|               40|              34|            44|            36|           33|          96|           90|          83|                   29.99|                    29.87|                   29.62|                 10|                  10|                  8|               13|                 4|             null|           0.00|         8|         Rain|            80|
| 1997-1-5|              55|               46|              37|            50|            43|           29|          89|           81|          73|                   29.62|                    29.45|                   29.29|                 10|                  10|                 10|               21|                11|               30|           0.13|         8|         Rain|           199|
| 1997-1-6|              36|               32|              27|            26|            19|           13|          85|           63|          53|                   29.87|                    29.72|                   29.53|                 10|                   9|                  2|               29|                20|               36|           0.00|         8|         Snow|           262|
| 1997-1-7|              28|               26|              23|            22|            15|           11|          91|           68|          49|                   30.01|                    29.89|                   29.83|                 10|                   5|                  0|               32|                20|               38|           0.01|         8|         Snow|           275|
| 1997-1-8|              26|               22|              18|            16|            13|           10|          78|           69|          53|                   30.24|                    30.16|                   30.01|                 10|                   7|                  2|               22|                17|               32|           0.00|         6|         Snow|           287|
| 1997-1-9|              25|               18|              10|            22|            14|            7|          92|           84|          69|                    30.2|                    29.82|                   29.36|                 10|                   7|                  1|               16|                 7|             null|           0.09|         7|         Snow|            83|
|1997-1-10|              33|               29|              25|            28|            20|           12|          96|           70|          50|                   29.44|                    29.29|                   29.21|                 10|                   9|                  0|               22|                10|               28|           0.05|         8|         Snow|           225|
|1997-1-11|              26|               22|              19|            15|            10|            8|          81|           63|          53|                   29.87|                    29.65|                   29.45|                 10|                   9|                  5|               31|                21|               36|           0.00|         7|         Snow|           250|
|1997-1-12|              21|               20|              19|            14|            10|            8|          74|           65|          58|                   30.19|                    30.05|                   29.87|                 10|                   9|                  6|               31|                24|               36|           0.00|         7|         Snow|           252|
|1997-1-13|              24|               22|              21|            21|            17|           14|          88|           77|          69|                   30.32|                    30.28|                   30.19|                 10|                   7|                  0|               22|                18|               29|           0.01|         8|         Snow|           254|
|1997-1-14|              28|               24|              21|            18|            16|           12|          80|           72|          63|                   30.34|                    30.32|                   30.28|                 10|                   9|                  9|               22|                17|               28|           0.00|         8|         Snow|           254|
|1997-1-15|              36|               24|              14|            19|            14|           10|          84|           60|          46|                   30.33|                    30.09|                    29.6|                 10|                  10|                 10|               18|                 9|             null|           0.00|         6|         null|           142|
|1997-1-16|              39|               27|              12|            31|            19|            1|          88|           65|          47|                   29.66|                    29.46|                   29.35|                 10|                   9|                  1|               29|                20|               41|           0.02|         7|    Rain-Snow|           248|
|1997-1-17|              12|                8|               3|             9|             0|           -8|          96|           70|          50|                   29.91|                    29.82|                   29.68|                 10|                   4|                  0|               28|                18|               33|           0.03|         7|         Snow|           267|
|1997-1-18|               7|                2|              -2|             3|            -6|          -12|          84|           68|          53|                   30.17|                    29.98|                   29.78|                 10|                   6|                  1|               22|                14|               26|           0.02|         6|         Snow|           275|
|1997-1-19|              18|                4|              -8|             2|            -3|          -13|          83|           63|          47|                   30.15|                    30.05|                   29.89|                 10|                   8|                  1|               16|                 7|             null|           0.03|         7|         Snow|           188|
|1997-1-20|              32|               26|              19|            28|            19|            5|          93|           76|          50|                   30.14|                    29.87|                   29.75|                 10|                   6|                  1|               20|                11|               22|           0.03|         8|         Snow|           252|
+---------+----------------+-----------------+----------------+--------------+--------------+-------------+------------+-------------+------------+------------------------+-------------------------+------------------------+-------------------+--------------------+-------------------+-----------------+------------------+-----------------+---------------+----------+-------------+--------------+
only showing top 20 rows

In [7]:
weather = spark.read.option("header", True).option("inferSchema", True)\
    .csv(source)
weather.createOrReplaceTempView("weather")

spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|        |  weather|       true|
+--------+---------+-----------+

In [11]:
# 6 Rewrite Question 2 using pure Spark SQL and the weather temp view. NOTE: There will be some subtle 
#differences with how you must write the code, so be sure to printSchema() so you can see what the 
# columns are. 
query = '''
WITH
Source 
AS
(
	SELECT 	cast(split(EST, '-')[0] AS int) AS year, 
	        cast(split(EST, '-')[1] AS int) AS month, 
		    cast(`Min TemperatureF` AS int) as mintemp, 
		    cast(`Max TemperatureF` AS int) AS maxtemp
	FROM weather
)
SELECT year, month, AVG(mintemp) AS avgmintemp, AVG(maxtemp) AS avgmaxtemp
FROM Source
GROUP BY year, month
ORDER BY year, month
'''
spark.sql(query).printSchema()
weather2 = spark.sql(query)

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- avgmintemp: double (nullable = true)
 |-- avgmaxtemp: double (nullable = true)

In [13]:
# 7 Save the output from the DataFrame in Question 6 to the temp view 
# monthly_syracuse_weather_averages. Prove the view is there by querying it.

weather2.createOrReplaceTempView("monthly_syracuse_weather_averages")
query2 = '''
SELECT * FROM monthly_syracuse_weather_averages
'''
spark.sql(query2).show()

+----+-----+------------------+------------------+
|year|month|        avgmintemp|        avgmaxtemp|
+----+-----+------------------+------------------+
|1997|    1|15.774193548387096| 31.64516129032258|
|1997|    2|22.607142857142858|37.785714285714285|
|1997|    3|25.032258064516128| 41.12903225806452|
|1997|    4| 34.43333333333333|              54.1|
|1997|    5|43.096774193548384| 61.58064516129032|
|1997|    6|              57.8|              78.4|
|1997|    7| 59.87096774193548| 80.19354838709677|
|1997|    8| 58.70967741935484| 78.38709677419355|
|1997|    9| 51.06666666666667|              69.4|
|1997|   10|38.935483870967744| 59.16129032258065|
|1997|   11|31.466666666666665|42.666666666666664|
|1997|   12|25.032258064516128|35.516129032258064|
|1998|    1|23.258064516129032| 35.41935483870968|
|1998|    2|24.142857142857142|              38.0|
|1998|    3|30.129032258064516|45.064516129032256|
|1998|    4|              38.0| 58.46666666666667|
|1998|    5| 52.45161290322581|  73.6774193548387|
|1998|    6|57.333333333333336|              75.3|
|1998|    7| 61.29032258064516| 79.03225806451613|
|1998|    8|              61.0| 81.09677419354838|
+----+-----+------------------+------------------+
only showing top 20 rows

In [18]:
# 8. CHALLENGE YOURSELF! At the bottom of the work/content/E-Drill-Spark.ipynb file there is a section 
#called Big Data to Small Data. Try to write a complete program that:
# a. Inputs a month 1–12 at run-time
# b. Displays a scatter plot of min/max average monthly temperatures, where year is on the X-axis
from IPython.display import display, HTML
from ipywidgets import interact_manual

display(HTML("<H1>Syracuse Weather</h1>"))
@interact_manual(Month=(1,12))
def showResult(Month):
    df = spark.sql(f"select * from monthly_syracuse_weather_averages WHERE month = {Month}").toPandas()
    display(df)
    display(df.plot(x="year", y="avgmintemp"))

interactive(children=(IntSlider(value=6, description='Month', max=12, min=1), Button(description='Run Interact…

In [20]:
import matplotlib.pyplot as plt
display(HTML("<H1>Syracuse Weather</h1>"))
@interact_manual(Month=(1,12))
def showResult2(Month):
    df = spark.sql(f"select * from monthly_syracuse_weather_averages WHERE month = {Month}").toPandas()
    df.set_index("year")
    plt.figure(figsize=(15,10))
    plt.scatter(df["year"],y=df["avgmintemp"], label='monthly avg min', marker='v')
    plt.scatter(df["year"],y=df["avgmaxtemp"], label='monthly avg max', marker='^')
    plt.legend(title=f"Temperatures for Month {Month}")
    plt.show()

interactive(children=(IntSlider(value=6, description='Month', max=12, min=1), Button(description='Run Interact…