In [44]:
# Import pandas, define data file, and read in data file, display data frame
import pandas as pd
source_file = 'eur.pop.rev.csv'
pops = pd.read_csv(source_file, skiprows = 2, nrows = 17)
print(pops)

                01.01.89    01.01.90  01.01.91  01.01.92  01.01.93  01.01.94  \
Austria          7602431   7660345.0   7790957   7860800   7909575   7943652
Belgium          9927600   9947800.0   9987000  10068319  10100631  10130574
Denmark          5129800   5135400.0   5146500   5162100   5180614   5191000
Finland          4954359   4974383.0   4998478   5029300   5054982   5098754
France          56269800         NaN  56893000  57217500  57529577  57847000
Germany         61715000  62678000.0  79753000  80238000  81338000  81353000
Iceland           253500    255708.0    259577    262193    264922    266783
Ireland          3526600   3505500.0   3519000   3542000   3559985   3570700
Italy           57504700  57576400.0  57746200  57788200  57114161  57201800
Luxemburg         374900    379300.0    384400    389800    395200    400000
Netherland      14805240  14892574.0  15010445  15129200  15354000  15341553
Norway           4226901   4241473.0   4261930   4273634   4324577   4348410
Portugal        10304700         NaN   9858500   9846000   9987500   9776000
Spain           38851900  38924500.0  38993800  39055900  39790955  39177400
Sweden           8458890   8527040.0   8590630   8644100   8700000   8749000
Switzerland      6619973   6673850.0   6750693   6831900   6871500   7021200
United Kingdom  57236200  57410600.0  57649200  58888800  58191230  58380000

                01.01.95
Austria          8054800
Belgium         10143047
Denmark          5251027
Finland          5116800
France          58265400
Germany         81845000
Iceland           267806
Ireland          3591200
Italy           57268578
Luxemburg         412800
Netherland      15492800
Norway           4370000
Portugal         9920800
Spain           39241900
Sweden           8837000
Switzerland      7060400
United Kingdom  58684000

In [45]:
# replace NAs with 0
pops = pops.fillna(value = 0)
print(pops)

                01.01.89    01.01.90  01.01.91  01.01.92  01.01.93  01.01.94  \
Austria          7602431   7660345.0   7790957   7860800   7909575   7943652
Belgium          9927600   9947800.0   9987000  10068319  10100631  10130574
Denmark          5129800   5135400.0   5146500   5162100   5180614   5191000
Finland          4954359   4974383.0   4998478   5029300   5054982   5098754
France          56269800         0.0  56893000  57217500  57529577  57847000
Germany         61715000  62678000.0  79753000  80238000  81338000  81353000
Iceland           253500    255708.0    259577    262193    264922    266783
Ireland          3526600   3505500.0   3519000   3542000   3559985   3570700
Italy           57504700  57576400.0  57746200  57788200  57114161  57201800
Luxemburg         374900    379300.0    384400    389800    395200    400000
Netherland      14805240  14892574.0  15010445  15129200  15354000  15341553
Norway           4226901   4241473.0   4261930   4273634   4324577   4348410
Portugal        10304700         0.0   9858500   9846000   9987500   9776000
Spain           38851900  38924500.0  38993800  39055900  39790955  39177400
Sweden           8458890   8527040.0   8590630   8644100   8700000   8749000
Switzerland      6619973   6673850.0   6750693   6831900   6871500   7021200
United Kingdom  57236200  57410600.0  57649200  58888800  58191230  58380000

                01.01.95
Austria          8054800
Belgium         10143047
Denmark          5251027
Finland          5116800
France          58265400
Germany         81845000
Iceland           267806
Ireland          3591200
Italy           57268578
Luxemburg         412800
Netherland      15492800
Norway           4370000
Portugal         9920800
Spain           39241900
Sweden           8837000
Switzerland      7060400
United Kingdom  58684000

In [47]:
# change the column names so they are more meaningful
pops.columns = ['1989','1990','1991','1992','1993','1994','1995']
print(pops)

                    1989        1990      1991      1992      1993      1994  \
Austria          7602431   7660345.0   7790957   7860800   7909575   7943652
Belgium          9927600   9947800.0   9987000  10068319  10100631  10130574
Denmark          5129800   5135400.0   5146500   5162100   5180614   5191000
Finland          4954359   4974383.0   4998478   5029300   5054982   5098754
France          56269800         0.0  56893000  57217500  57529577  57847000
Germany         61715000  62678000.0  79753000  80238000  81338000  81353000
Iceland           253500    255708.0    259577    262193    264922    266783
Ireland          3526600   3505500.0   3519000   3542000   3559985   3570700
Italy           57504700  57576400.0  57746200  57788200  57114161  57201800
Luxemburg         374900    379300.0    384400    389800    395200    400000
Netherland      14805240  14892574.0  15010445  15129200  15354000  15341553
Norway           4226901   4241473.0   4261930   4273634   4324577   4348410
Portugal        10304700         0.0   9858500   9846000   9987500   9776000
Spain           38851900  38924500.0  38993800  39055900  39790955  39177400
Sweden           8458890   8527040.0   8590630   8644100   8700000   8749000
Switzerland      6619973   6673850.0   6750693   6831900   6871500   7021200
United Kingdom  57236200  57410600.0  57649200  58888800  58191230  58380000

                    1995
Austria          8054800
Belgium         10143047
Denmark          5251027
Finland          5116800
France          58265400
Germany         81845000
Iceland           267806
Ireland          3591200
Italy           57268578
Luxemburg         412800
Netherland      15492800
Norway           4370000
Portugal         9920800
Spain           39241900
Sweden           8837000
Switzerland      7060400
United Kingdom  58684000

In [48]:
# convert all the rows to numeric (except for the index)
pops = df.apply(pd.to_numeric, errors='ignore')

# filter the data frame by the countries whose 1995 populations exceeded 1 million
one_mil = pops[pops['1995'] > 1000000]

# now print each country
for each in one_mil.index:
    print(each)

Austria
Belgium
Denmark
Finland
France
Germany
Ireland
Italy
Netherland
Norway
Portugal
Spain
Sweden
Switzerland
United Kingdom

In [49]:
# calculate the mean of all the countries
pops['Mean'] = pops.mean(axis = 1)
uk_mean = round(pops.at['United Kingdom', 'Mean'], 0)
print(f'The mean population for the United Kingdom is {uk_mean}')

The mean population for the United Kingdom is 58062861.0