In [5]:
import requests
import json
import os
import pandas as pd
from pathlib import Path

In [6]:
cur_path = os.getcwd()
token_file_name = Path(cur_path).joinpath('iex.txt')

IEX_TOKEN = contents = Path(token_file_name).read_text().strip()
IEX_URL= 'https://cloud.iexapis.com/stable/stock/{}/quote?token='+IEX_TOKEN

In [7]:
def get_quote(stock_symbol):
    quote_url = IEX_URL.format(stock_symbol)
    #print(quote_url)
    response = requests.get(quote_url)
    quote = json.loads(response.text)
    stock_symbol, stock_company, stock_high, stock_low, stock_open = quote["symbol"], quote["companyName"], quote["week52High"], quote["week52Low"], quote["latestPrice"]
    return stock_symbol, stock_company, stock_high, stock_low, stock_open

stock_symbols = {'AAPL', 'NVDA', 'AMD', 'XLNX'}
stock_quotes = []
for stock_symbol in stock_symbols:
    quote_url = IEX_URL.format(stock_symbol)
    stock_symbol, stock_company, stock_high, stock_low, stock_open = get_quote(stock_symbol)        
    stock_quotes.append([stock_symbol, stock_company, stock_high, stock_low, stock_open])

In [8]:
stock_quote_df = pd.DataFrame(stock_quotes)
stock_quote_df.columns = ['Symbol','Company', 'High', 'Low','Open']
print(stock_quote_df)

  Symbol                       Company    High     Low     Open
0    AMD  Advanced Micro Devices, Inc.   35.55   16.03   31.725
1   AAPL                   Apple, Inc.  233.47  142.00  212.580
2   NVDA                  NVIDIA Corp.  292.76  124.46  171.810
3   XLNX                  Xilinx, Inc.  141.60   68.76  104.990

In [23]:
# this version uses list comprehension
stock_quotes2 = [get_quote(stock_symbol) for stock_symbol in stock_symbols]
stock_quote_df2 = pd.DataFrame(stock_quotes2)
stock_quote_df2

      0                             1       2       3        4
0   AMD  Advanced Micro Devices, Inc.   35.55   16.03   31.795
1  AAPL                   Apple, Inc.  233.47  142.00  212.585
2  NVDA                  NVIDIA Corp.  292.76  124.46  171.750
3  XLNX                  Xilinx, Inc.  141.60   68.76  104.760

In [24]:
# this version uses lambda
stock_quotes3 = map(lambda stock_symbol: get_quote(stock_symbol), stock_symbols)
stock_quote_df3 = pd.DataFrame(stock_quotes3)
stock_quote_df3

      0                             1       2       3        4
0   AMD  Advanced Micro Devices, Inc.   35.55   16.03   31.765
1  AAPL                   Apple, Inc.  233.47  142.00  212.565
2  NVDA                  NVIDIA Corp.  292.76  124.46  171.775
3  XLNX                  Xilinx, Inc.  141.60   68.76  104.750